<div class="container-fluid bg">
  <div class="row h-100 align-items-center">
    <div class="col-12 col-xl-4 col-lg-4 col-md-7 mx-auto">
      <div class="card login-card">
        <div class="card-header text-center">
          <h1>Welcome!</h1>
        </div>
        <div class="card-body">
          <form
            [formGroup]="registerForm"
            (ngSubmit)="(registerForm.valid)"
            novalidate
          >
            <div class="row">
              <div class="col-6">
                <mat-form-field appearance="outline">
                  <mat-label>First Name</mat-label>
                  <input
                    id="firstName"
                    matInput
                    formControlName="firstName"
                    [(ngModel)]="user.firstName"
                    type="text"
                  />
                </mat-form-field>
              </div>
              <div class="col-6">
                <mat-form-field appearance="outline">
                  <mat-label>Last Name</mat-label>
                  <input
                    id="lastName"
                    matInput
                    formControlName="lastName"
                    [(ngModel)]="user.lastName"
                    type="text"
                  />
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <mat-form-field appearance="outline">
                  <mat-label>Email</mat-label>
                  <input
                    id="email"
                    matInput
                    formControlName="email"
                    [(ngModel)]="user.email"
                    type="email"
                  />
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <mat-form-field appearance="outline">
                  <mat-label>Password</mat-label>
                  <input
                    id="password"
                    matInput
                    formControlName="password"
                    [(ngModel)]="user.password"
                    type="password"
                  />
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <!-- <mat-form-field> -->
                <mat-slide-toggle
                  id="isAdmin"
                  color="warn"
                  formControlName="isAdmin"
                  [(ngModel)]="user.isAdmin"
                  disableRipple="true"
                  >Administrator</mat-slide-toggle
                >
                <!-- </mat-form-field> -->
              </div>
            </div>

            <div class="text-center">
              <a mat-flat-button [routerLink]="['/login']">login</a>
              <button
                mat-flat-button
                color="accept"
                type="submit"
                [disabled]="!registerForm.valid"
                (click)="register()"
              >
                Register
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
