<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
  <div
    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
  >
    <h1 class="h2">{{ title }}</h1>
    <div *ngIf="auth.getUserInfo().isAdmin" class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group mr-2">
        <button
          class="btn btn-sm btn-outline-secondary"
          (click)="addStationDialog()"
        >
          Add station <i class="fa fa-plus-circle"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="!showSpinner">
    <div class="col-md-4 row-space" *ngFor="let station of stations">
      <div class="card text-center">
        <div
          class="card-header bg-dark text-white d-flex justify-content-between align-items-center"
        >
          STATION {{ station.id }}
          <button class="btn btn-danger" (click)="deleteStationDialog(station)">
            <i class="far fa-trash-alt"></i>
          </button>
        </div>
        <img
          src="../../../../assets/img/station.png"
          width="45px"
          class="card-img-top card-custom-img-top"
        />
        <div class="card-body">
          <p>{{ station.description }}</p>
          <p>{{ station.ipAddress }}</p>
          <a
            class="btn btn-info btn-block text-white"
            (click)="editStationDialog(station)"
            >Edit station</a
          >
        </div>
      </div>
    </div>
  </div>
  <mat-spinner *ngIf="showSpinner"></mat-spinner>
</main>
