<div class="container-fluid bg">
  <div class="row">
    <div class="col-12 col-xl-5 col-lg-5 col-md-7 mx-auto">
      <form class="form-container">
        <div class="logo">
          <img src="../../../assets/img/logo.png">
        </div>
        <div class="row">
          <!-- form goes here -->
          <mat-form-field appearance="outline">
            <mat-label>E-mail</mat-label>
            <input id="email" type="text" required>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input id="password" type="password" required>
          </mat-form-field>
        </div>
      </form>
    </div>
  </div>
</div>