/* You can add global styles to this file, and also import other style files */

.bg {
  background: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 100vh;
}

.form-container {
  border: 0px solid #ffffff;
  border-radius: 25px;
  padding: 50px 60px;
  margin-top: 15vh;
  -webkit-box-shadow: -1px 4px 26px 11px rgba(12, 12, 12, 0.75);
  -moz-box-shadow: -1px 4px 26px 11px rgba(12, 12, 12, 0.75);
  box-shadow: -1px 4px 26px 11px rgba(12, 12, 12, 0.75);
  /* -moz-box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
    box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75); */
}

footer {
  width: calc(65%);
  margin: 0px auto;
  padding-top: 15px;
  color: rgba(0, 0, 0, 0.5);
}

body {
  font-size: 0.875rem;
  background-color: #f2f2f2;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

.container {
  background-color: white;
  box-shadow: 0 0 20px 0px #b5b5b5;
  margin: 10px auto;
  border-radius: 5px;
}

/*
   * Sidebar
   */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  /* Behind the navbar */
  padding: 48px 0 0;
  /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto;
  /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: 0.75rem;
  text-transform: uppercase;
}

/*
   * Content
   */

[role="main"] {
  padding-top: 48px;
  padding-bottom: 48px;
  /* Space for fixed navbar */
}

/*
   * Navbar
   */

.navbar-brand {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, 0.25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.25);
}

[routerLinkActive="active"] {
  font-size: 15px;
}

[routerLinkActive="active"]:hover {
  background-color: rgb(219, 219, 219);
}

.chart-container {
  padding: 20px 0px 0px 0px;
}

.mat-form-field {
  display: block !important;
  margin-top: 20px !important;
}

.mat-input-element {
  caret-color: #6c757d !important;
}

.row-space {
  margin-bottom: 10px;
}

.navbar .form-control {
  padding: 0.75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.25);
}

/* readings table style */

.custom-table {
  position: relative;
  height: 500px;
  overflow: auto;
}

mat-header-cell,
mat-cell {
  justify-content: center;
}

.table-wrapper-scroll-y {
  display: block;
}

::-webkit-scrollbar {
  width: 8.5px;
}

/* Track */

/* ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(153, 153, 153);
  border-radius: 8px;
} */

/* Handle */

::-webkit-scrollbar-thumb {
  background: #272829;
  border-radius: 8px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #343a40;
}

/* station card */

.card-custom-img-top {
  width: 60% !important;
  margin-top: 5px;
  align-self: center;
}

/* station dialog */

button[color="accept"] {
  margin-left: 5px;
  background-color: #4caf50;
  color: #fff;
}

/* progress Indicator */

mat-spinner {
  margin: calc(21%) auto;
}

/* main logo  */
.logo {
  text-align: center;
}

.logo img {
  width: 285px;
}

/* 

  Media queries

*/

@media screen and (max-width: 1000px) {
  .logo img {
    width: 195px;
  }
}

@media screen and (max-width: 780px) {
  .logo img {
    width: 115px;
  }
}
